# Dependency directories
node_modules/

# Build output directories
dist/
build/

# Environment files
.env

# IDE and editor folders
.vscode/
.idea/
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# downloaded files
downloads/

